<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.it.yangk.custom_view" >

    <application >

        <activity
            android:name="com.it.yangk.custom_view.CustomHelper.CustomActivity"
            android:screenOrientation="portrait"></activity>
    </application>
</manifest>
